<template>
  <div class="pt-2">
    <h1>Create your hero</h1>
    <form @submit.prevent="createNewHero" class="form-group-container">
		    <div class="form-group">
		    	<label for="name" >Name</label>
		    	<b-form-input block id="name" type="text" v-model="name" placeholder="Enter name"></b-form-input>

		    </div>
		    <div class="form-group">
		    	<label for="birthdate">Birth date:</label>
		   		<b-calendar v-model="birthdate" block @context="onContext" locale="en-US"></b-calendar>
		    </div>
		    <div v-if="skills" class="form-group skills-checkbox">
	          <div  v-for="skill in skills" :key="skill.name">
	              
	              <b-form-checkbox
	                :id="skill.name"
	                v-model="heroSkills"
	                name="skill.name"
	                :value="skill.id"
	                unchecked-value="not_accepted"
	              >
	                {{skill.name}}
              </b-form-checkbox>
	          </div>
        	</div>
        	<section v-else class="container form-group">
		      <div class="loader"></div>
		    </section>
		    <div class="form-group">
		    	<b-button variant="secondary" type="submit">Submit</b-button>
		    </div>
    </form>
  </div>
</template>

<script>
import {mapState, mapActions} from "vuex";

export default {     
 	data(){
 		return {
 			name:"",
 			birthdate:null,
 			heroSkills:[]
 		}
 	},
 	created(){
 		this.fetchSkills()
 	},
 	computed:{
	...mapState(['skills'])
	},
	methods: {
		...mapActions({
			addHero: 'heroes/addHero',
			fetchSkills: 'fetchSkills'
		}),
		onContext(ctx) {
        this.birthdate = ctx.selectedYMD  
      },
		createNewHero(){
			let hero = {
				name:this.name,
				birthdate:this.birthdate,
				skills:this.heroSkills
			}
			this.addHero(hero);
			this.$router.push({name: 'heroes-list'})
			this.name = null;
			this.birthdate = null;
			this.heroSkills = null;
		}
	}
}

</script> 

<style scoped>
.pt-2{
  padding-top: 2rem !important; 
}
.form-group-container{
	display:flex;
	width:100%;
	flex-direction:column;
	justify-content:center;
}
.form-group{
	padding:1em;
	display:flex;
	flex-direction:column;
	width:30%;

	margin:auto;
}

.form-group input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	min-width:250px;
	outline: none;
}
.form-group select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
button{
	min-width:250px !important;
}

.form-group.skills-checkbox {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
}
.skills-checkbox label{
  font-size:13px;
  font-weight:600;
}
</style>