<template>
  <div class="pt-2">
  	<div v-if="skills" class="skills-container">
  		<ul>
  			<li v-for="skill in skills" 
  			:key="skill.id" 
  			>
  			{{skill.name}} 
  			<span @click="deleteSkill(skill.id)" class="delete-skill-btn">&times;</span>
  			</li>
  		</ul>
  	</div>
  	<section v-else class="container">
		<div class="loader"></div>
	</section>
    <h1>Create a new super skill</h1>
    <form @submit.prevent="createSkill" class="form-group-container">
		    <div class="form-group">
		    	<label for="name" >Name</label>
		    	<b-form-input id="name" type="text" v-model="name" placeholder="Enter skill"></b-form-input>
		    </div>
		    <div class="form-group">
		    	<b-button variant="secondary" type="submit">Submit</b-button>
		    </div>
    </form>
  </div>
</template>

<script>
import {mapState, mapActions} from "vuex";

export default {     
 	data(){
 		return {
 			name:""
 		}
 	},
 	created(){
 		this.fetchSkills();
 	},

 	computed:{
	...mapState(['skills'])
	},
	methods: {
		...mapActions(['addSkill', 'removeSkill', 'fetchSkills']),
		createSkill(){
			this.addSkill({name: this.name});
			this.name = "";
		},
		deleteSkill(id){
			this.removeSkill(id)
		}
	},
	
}

</script> 

<style scoped>
.pt-2{
	padding-top:2rem !important; 
}
.form-group-container{
	display:flex;
	width:100%;
	flex-direction:column;
	justify-content:center;
}
.form-group{
	padding:1em;
	display:flex;
	flex-direction:column;
	width:30%;
	margin:auto;
}
.form-group input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	min-width:250px !important;
	outline: none;
}
.form-group select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
button{
	min-width:250px !important;
}
ul {
	padding:0px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	width:30%;
}
ul li {
	list-style-type:none;
	text-align:left;
	background-color:#23313F;
	margin:0.2em;
	color:#FFFFFF;
	padding: 0.9em 1em;
	font-size:12px;
	font-weight:600;
}
.skills-container{
	display:flex;
	justify-content:center;
}
.delete-skill-btn{
	padding:0.2em 0.4em;
	
	cursor:pointer;
}
.delete-skill-btn:hover{
	transition:all .1s ease-out;
	background-color:#445167;
}
</style>