<template>
  <div>
    <div v-if="skills && hero" class="create-hero-container">
    <h1>Update the hero's information</h1>
    <form @submit.prevent="updateHero" class="form-group-container">
        <div class="form-group">
          <label for="name" >Name</label>
          <b-form-input id="name" type="text" v-model="name" placeholder="Enter your name"></b-form-input>
        </div>
        <div class="form-group">
          <label for="birthdate">Birth date:</label>
       
          <b-calendar v-model="birthdate" block @context="onContext" locale="en-US"></b-calendar>
        </div>
        <div class="form-group skills-checkbox">
          <div v-for="skill in skills" :key="skill.name">
              <b-form-checkbox
                :id="skill.name"
                v-model="heroSkills"
                name="skill.name"
                :value="skill"
                unchecked-value="not_accepted"
                :checked="hero.skills.map(s => s.name == skill.name ? true : false)"
              >
                {{skill.name}}
              </b-form-checkbox>
              
          </div>
        </div>
        <div class="form-group">
          <b-button variant="secondary"  type="submit">Submit</b-button>
        </div>
    </form>
  </div>
  <section v-else class="container">
    <div class="loader"></div>
  </section>
  </div>
</template>

<script>
import {mapState, mapActions} from "vuex";

export default { 
  props:{
    hero: {
      type: Object
    }
  },
  created(){
    this.fetchSkills();
  },
  data(){
    return {
      name:this.hero.name,
      birthdate:this.hero.birthdate,
      heroSkills:[]
    }
  },

  computed:{
  ...mapState(['skills'])
  },
  methods: {
    ...mapActions({
      editHero: 'heroes/updateHero',
      fetchSkills: 'fetchSkills'
    }),
    onContext(ctx) {
        this.birthdate = ctx.selectedYMD  
      },
    async updateHero(){
      let heroToUpdate = {
        id: this.hero.id,
        name:this.name,
        birthdate: this.birthdate,
        skills: this.heroSkills
      }
      this.editHero(heroToUpdate);
      this.$router.push({name: 'heroes-list', params: { id: this.hero.id }})
    }
  }
}

</script> 

<style scoped>
.create-hero-container {
  padding-top:3rem;
}
.form-group-container{
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:center;
}
.form-group{
  padding:1em;
  display:flex;
  flex-direction:column;
  width:30%;
  margin:auto;
}
.form-group.skills-checkbox {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
}
.skills-checkbox label{
  font-size:13px;
  font-weight:600;
}

.form-group input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.form-group select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.submit-hero-btn{
  padding:1em 1em;
  border: 3px solid #ccc;
  cursor:pointer;
  font-weight:700;
  font-size:12px;
}
.submit-hero-btn:hover{
  background-color:white;
  transition:all 0.1s ease-in;
}

</style>