<template>
  <div>
    <div v-if="hero" class="hero-show-container">
    <b-img src="../assets/bg-starwars.jpg" style="width:100%;max-height:60vh;" fluid :alt="hero.name"></b-img>
 
        <b-container class="btn-group">
          <h1>Hi, I'm <code>{{hero.name}}</code> 
          <span class="action-btn btn-delete" @click="deleteHero">&#128465; </span>
          <span class="action-btn btn-edit" @click="editHero">&#x2699; </span></h1>

        </b-container>

    <h2>My skills:</h2>
    <code>I was born {{hero.birthdate}}</code>
    
    <div class="skills-container">
      <ul>
        <li v-for="skill in hero.skills" 
        :key="skill.id" 
        >
        &#128293; {{skill.name}} 
        </li>
      </ul>
    </div>

  </div>
    <section v-else class="container">
      <div class="loader"></div>
    </section>
  </div>
</template>

<script>

import {mapState, mapActions} from "vuex";

export default { 
  props:{
    id: {
      type:[Number],
      required:true
    }    
  },
  data(){
    return {}
  },
  created(){
    this.fetchHero(this.id)    
  },
  methods:{
    ...mapActions('heroes', ['removeHero', 'fetchHero']),
    deleteHero(){
      let result = confirm("Want to delete?");
      if (result) {
          this.removeHero(this.id);
          this.$router.push({name:'heroes-list'})
      }
      
    },
    editHero(){
      this.$router.push({name:"hero-edit", params: {hero: this.hero}})
    }
  },
  computed: mapState('heroes', ['hero'])
}
</script> 

<style scoped>
.hero-show-container{
  margin:0px;
  padding:0px;
  padding-bottom:3em;
}
ul li {
  list-style-type: none;
}
code {
  color:gray;
}
.form-group-container{
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:center;
  transition: all 5s ease-in;
}
.form-group{
  padding:1em;
  display:flex;
  flex-direction:column;
  width:30%;
  margin:auto;
}
.form-group input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.form-group select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.submit-hero-btn{
  padding:1em 1em;
  border: 3px solid #ccc;
  cursor:pointer;
  font-weight:700;
  font-size:12px;
}
.submit-hero-btn:hover{
  background-color:white;
  transition:all 0.1s ease-in;
}
ul {
  padding:0px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  width:30%;
}
ul li {
  list-style-type:none;
  text-align:left;
  background-color:#23313F;
  margin:0.2em;
  color:#FFFFFF;
  padding: 0.9em 1em;
  font-size:12px;
  font-weight:600;
  transition: opacity 0.1s;
}

.skills-container{
  display:flex;
  justify-content:center;
}

.action-btn{
  font-size:20px;
  padding:0.5em;
  border-radius:5px;
  transition:all 0.1s ease-in;
  vertical-align:middle;
} 
.action-btn:hover{
    background-color: #F1F1F1;
    cursor:pointer;
}
.btn-delete{
}
.btn-edit{
}
</style>