<template>
  <div>
    <b-container>
      <b-row v-if="heroes" class="wrapper">
          <HeroCard v-for="(hero) in heroes" :key="hero.id" :hero="hero" />
      </b-row>
        <section v-else class="container">
          <div class="loader"></div>
        </section>      
  </b-container>
   <b-container class="pagination-container">
            <b-pagination
            v-model="current_page"
            :total-rows="total"
            :per-page="perPage"
            aria-controls="my-table"
          >
          </b-pagination>
          </b-container>
  </div>
</template>

<script>

import HeroCard from "../components/HeroCard.vue";
import {mapState, mapActions} from "vuex";

export default {
 	components:{ HeroCard },
 	data(){
 		return {
      current_page: this.currentPage
 		}
 	},
 	created(){
 		this.fetchHeroes(1);
 	},
 	computed:{
    rows() {
      return this.heroes.length
    },
 		...mapState('heroes',['heroes', 'total', 'currentPage', 'perPage'])
 	},
  watch: {
      current_page(newValue, oldValue) {
        console.log(oldValue)
        this.fetchHeroes(newValue)
      }
  },
 	methods:{
 		...mapActions('heroes', ['fetchHeroes'])
 	}
};
</script>

<style>
body {
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap:2rem;
  grid-auto-flow: row;
  padding-bottom:2em;
}
.pagination-container {
  width: 100% !important;
}
.container {
  margin: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 29%;
  
}
.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 4px;
  border-color: #000000 #00000010 #00000010;
  position: relative;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

</style>
