<template>
<div >
    <b-card deck no-body class="overflow-hidden" style="width: 350px;">
    <b-row no-gutters >
      <b-col md="6">
        <b-card-img src="../assets/hero.jpg" :alt="hero.name" class="rounded-0 hero-img"></b-card-img>
      </b-col>
      <b-col md="6">
        <router-link :to="{name: 'hero-show', params: { id: hero.id}}">
          <b-card-body  :title="hero.name">
          <b-card-text v-if="hero.skills.length > 3">
          <p class="skills-count">I have {{hero.skills.length}} skills</p>
            <span v-for="skill in hero.skills.length" :key="skill" class="skill-badge overflow-star" >&#9733; </span>
          </b-card-text>
          <b-card-text v-else class="title" 
              v-for="(skill) in hero.skills" 
              :key="skill.name" >
              <template><span class="skill-badge">&#9733; </span>{{skill.name}}</template>
          </b-card-text>
        </b-card-body>
        </router-link>
      </b-col>
    </b-row>
  </b-card>
</div>
  
</template>

<script>
  export default {
    props:{
      hero:{
        type:Object
      }
    }
  }
</script>

<style scoped>
.hero-card {
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.hero-img {
  height:auto;
  object-fit: cover;
}
.skill-badge{
  color:  #FFD700;
}
  
.skills-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.title {
  color: grey;
  font-size: 13px;
  font-weight:600;
  padding:0.6em;
}
.title:hover{
  background-color: #F1F1F1;
}
.overflow-star {
  font-size:15px;
}

p.skills-count{
  font-size:15px;
}
a {
  text-decoration: none !important; 
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>

