</template>
	<section class="container">
  	<div class="loader"></div>
	</section>
</template>

<script>
export default {

}
</script>

<style>
.container {
  margin: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 29%;
  
}
.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 4px;
  border-color: #000000 #00000010 #00000010;
  position: relative;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

</style>
