<template>
   
    <div>
  <b-navbar class="dark-nav" toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand :to="{name: 'heroes-list'}" ><img class="brand-logo" src="@/assets/starWars.png"/></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-navbar-nav >
        <b-nav-item :to="{name: 'heroes-list'}" >Heroes</b-nav-item>
        <b-nav-item :to="{name: 'create-hero'}" >Create a hero</b-nav-item>
        <b-nav-item :to="{name: 'create-skill'}" >Create skills</b-nav-item>
      </b-navbar-nav>

      
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.brand-logo {
  height: 50px;
}
.star-wars-logo-container {
  padding:0px;
  margin:0px;
  width:10%;
  height:60px;
}
.star-wars-logo-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.dark-nav {
  background-color: #222222 !important;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:black;
    padding-left:1em;
    padding-right:1em;
    box-sizing:border-box;
}
.nav{
  vertical-align: middle;
  padding-top: 1.2em;
  box-sizing:border-box;
} 

.nav .router-link.router-link-exact-active:after {
  right: 0;
}

a {
  text-decoration: none;
  padding:0.6em;
  color:#FFFFFF;
  font-size:14px;
  font-weight:600;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  position: relative;
}

a:last-child:after {
  border-radius: 1em;
  border-top: .1em solid white;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .20em;
  left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

a:hover:after {
  right: 0;
}
</style>